.grid-container {
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.custom-grid {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .custom-grid th {
        background-color: #003366;
        color: white;
        padding: 10px;
        text-align: left;
        font-weight: bold;
    }

    .custom-grid td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .custom-grid tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .custom-grid tr:hover {
        background-color: #d0e7ff;
    }

    .custom-grid thead th {
        background-color: #003366; /* color de fondo azul */
        color: white; /* color del texto */
        text-align: center; /* opcional, centra el texto */
    }


.truncate-text {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}