<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
	<!--Esta sera la conexion a la BD de produccion cuando la creemos
	<connectionStrings>
		<add name="" connectionString=""
		 providerName="" />
	</connectionStrings>-->
	
	<!--Esta es la conexion de BenjaDev local para desarrollo-->
	<connectionStrings>
  <add name="InventarioAnkhalDBConnectionString" connectionString="Data Source=DESKTOP-A9E3FVS;Initial Catalog=InventarioAnkhalDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="InventarioAnkhalDBConnectionString1" connectionString="Data Source=DESKTOP-A9E3FVS;Initial Catalog=InventarioAnkhalDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
  <system.web>
	<globalization culture="es-MX" uiCulture="es-MX"/>
	<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

	<!-- Autenticación por formularios -->
	<authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="60" slidingExpiration="true" />
	</authentication>

	<!-- Configuración de sesión -->
	<sessionState mode="InProc" timeout="60" />
	  
	<machineKey validationKey="A2EFC3A388A9241FAB7A2B503F6C4C8F4526A06D8A2F0A400CE8DAF217D4E6E4B5E790184B2F32EC6A7F455CDE0B59008E5D978870F0E518E9F823762691B3F1" decryptionKey="AE5D7C883470D5BF41E8BE485D30227FB415CFCF3A5E2C6B" validation="SHA1" decryption="AES"/>
	<pages>
	  <controls>
	    <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
	  </controls>
	 </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>